* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: "Questrial", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(229, 226, 226);
  font-size: 24px;
  background-color: #141414;
}

.navigation {
  display: flex;
  gap: 18px;
}

.home img {
  max-width: 500px;
  border-radius: 50%;
}

.home {
  background-color: #222222;
  color: white;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home img {
  margin: 60px 0px 20px;
}

.home h3 {
  color: #696767;
  font-family: "Urbanist", sans-serif;
}

.home button {
  margin: 10px 0px 60px;
  border: none;
  background-color: #e40c5c;
  padding: 10px 70px;
  border-radius: 20px;
  font-size: 18px;
}

.about-me {
  background-color: #9f1347;
  font-family: "Urbanist", sans-serif;
  display: flex;
  flex-direction: column;
}

.about-me h1 {
  color: white;
  padding: 150px 20px 10px 90px;
  font-size: 80px;
}

.about-me-content {
  display: flex;
  justify-content: center;
  margin: 170px;
  margin-top: 20px;
}

.about-me img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  display: flex;
  align-self: flex-start;
  padding: 10px;
}

.about-me p {
  max-width: 700px;
  max-height: 500px;
  color: black;
  font-family: "Urbanist", sans-serif;
  font-size: 36px;
  border-radius: 20px;
  padding: 30px;
  margin-left: 20px;
  margin-top: 8px;
  background-color: white;
}
.my-message {
  flex-shrink: 0;
}

.my-message button {
  min-height: 45px;
  min-width: 170px;
  margin: 20px 0px 0px 15px;
  border: none;
  background-color: #141414;
  padding: 10px 70px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
}

.projects {
  background-color: #696767;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}

.projects h1 {
  color: #222222;
  font-size: 90px;
  padding: 150px 20px 10px 90px;
}

.project-links {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 600px;
  margin: 170px;
  margin-top: 20px;
  margin-left: 450px;
}

.project-links a {
  padding: 25px;
  margin-bottom: 20px;
  background-color: #e40c5c;
  border: solid #bc0e4e;
  border-radius: 20px;
  color: white;
  max-width: 700px;
  max-height: 500px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.recommendations-page {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  padding: 150px 20px 10px 90px;
}

.recommendations-page h1 {
  color: #e40c5c;
  font-size: 90px;
}

.recommendations-page img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.recommendations-page-people {
  display: flex;
  align-self: center;
  gap: 70px;
  margin: 40px 0px 50px 0px;
  margin-bottom: 100px;
}

.recommendations-page-people-block {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  flex-shrink: 0;
}

.recommendation {
  background-color: white;
  border-radius: 20px;
  padding: 15px 20px;
  height: 300px;
}

.recommendation h3 {
  color: #e40c5c;
  font-family: "Urbanist", sans-serif;
  font-size: 27px;
  font-weight: 400px;
  text-align: center;
}

.recommendation h4 {
  color: #696767;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
}

.recommendation p {
  font-size: 20px;
  font-weight: 50px;
  text-align: justify;
  padding-top: 10px;
  line-height: 30px;
}

.contacts {
  background-color: white;
  display: flex;
  justify-content: center;
}

.contacts a {
  padding: 20px 100px;
  margin: 20px 0px;
  background-color: #bc0e4e;
  border-radius: 20px;
  font-size: 24px;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(165, 161, 161);
  font-size: 24px;
  background-color: #141414;
}
